<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" name="contacts app">


	<test name="Searchname_test">
		<classes>
			<class name="Tests.searchname_test" />
		</classes>
	</test>

	<test name="Searchname_test2">
		<classes>
			<class name="Tests.searchname_test2" />
		</classes>
	</test>


</suite>